.see-more-btn {
	color: var(--see-more-color);
	margin: .5rem 0 .5rem 0;
	background: none;
	border: none;
	border-bottom: 1px solid var(--see-more-color);
	width: fit-content;
	display: flex;
	flex-direction: row-reverse;
	cursor: pointer;
}

.see-more-btn:hover {
	color: var(--see-more-color-hover);
	border-bottom: 1px solid var(--see-more-color-hover);
	font-weight: 500;
}

@media (max-width: 700px) {
	.see-more-btn {
		font-size: .7rem;
	}
}

@media (max-width: 500px) {
	.see-more-btn {
		font-size: .6rem;
	}
}
