.like-btn {
	background: var(--bg-elements);
	border: none;
	cursor: pointer;
}

.like-btn:hover {
	transition: all .2s;
	transform: scale(1.3);
}

.like-btn svg {
	background: var(--bg-elements);
}

.likes-content {
	background: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--font-color);
}
