.like-btn {
	background: #ffffff;
	border: none;
	cursor: pointer;
}

.like-btn:hover {
	transition: all .2s;
	transform: scale(1.3);
}

.like-btn svg {
	background: #ffffff;
}

.likes-content {
	background: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
