.add-comment-input {
	border: 2px solid rgba(0, 0, 0, .3);
	padding: 0.4rem 1rem;
	width: 20vw;
	border-radius: 1rem;
	resize: vertical;
	outline: none;
}

.add-comment-input[contenteditable="true"]::after {
	content: attr(data-placeholder);
	color: #aaa;
}

.add-comment-input.has-content::after {
	display: none;
}

.add-comment-container {
	display: flex;
	align-items: center;
	background: none;
	margin-bottom: 1rem;
}

.add-comment-container div {
	background: none;
}

.add-comment-container svg {
	cursor: pointer;
	background: none;
}
