.liked-posts-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 3rem;
	background: var(--bg-elements);
	max-width: 50vw;
	width: 100%;
	padding: 2rem;
	border-radius: 1rem;
}

.liked-posts-container h2 {
	background: var(--bg-elements);
}

.liked-posts {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	background: var(--bg-elements);
}

.liked-posts a {
	color: inherit;
	text-decoration: none;
}

.post-card a span,
.post-card a,
.post-card {
	background: var(--bg-elements);
}

.post-card a span {
	color: var(--user-activities-color);
}

.post-card {
	border-top: 2px solid var(--border-top-post-card);
	width: 50vw;
	padding-top: 1rem;

}

.post-card a h2 {
	background: var(--bg-elements);
	padding-left: 1rem;
}

@media (max-width: 1000px) {
	.liked-posts-container {
		max-width: 60vw;
	}

	.post-card {
		width: 60vw;
	}
}

@media (max-width: 700px) {
	.liked-posts-container {
		max-width: 70vw;
		padding: 1.6rem;
		margin-top: 1.5rem;
	}

	.liked-posts-container h2 {
		font-size: 1.4rem;
	}

	.liked-posts {
		margin-top: 1rem;
	}

	.post-card {
		width: 70vw;
	}

	.post-card a span {
		font-size: .8rem;
	}

	.post-card a h2 {
		font-size: 1.2rem;
	}
}

@media (max-width: 500px) {
	.liked-posts-container {
		max-width: 80vw;
		padding: 1.6rem;
		margin-top: 1.5rem;
	}

	.liked-posts-container h2 {
		font-size: 1.2rem;
	}

	.liked-posts {
		margin-top: 1rem;
	}

	.post-card {
		width: 80vw;
	}

	.post-card a span {
		font-size: .6rem;
	}

	.post-card a h2 {
		font-size: 1rem;
	}
}

@media (max-width: 360px) {
	.liked-posts-container {
		padding: 1.2rem;
	}

	.post-card {
		padding-top: .6rem;
	}

	.post-card a span {
		font-size: .5rem;
		font-weight: 900;
	}

	.post-card a h2 {
		font-size: .8rem;
	}
}
