.comments-content {
	padding: .5rem;
	background: var(--comments-content-bg);
	border-radius: .5rem;
	margin-bottom: 1rem;
}

.comment-title {
	font-weight: 700;
}

.comment-title:hover {
	color: var(--posted-by-hover);
}

.comments-content a {
	display: inline-block;
	color: var(--font-color-comments);
	text-decoration: none;
	background: none;
}

.comments-content a:hover {
	color: var(--posted-by-hover);
	text-decoration: underline;
}

.comments-content p {
	display: flex;
	align-items: center;
	background: none;
	margin-bottom: .5rem;
}

.comments-content svg {
	background: none;
}

.comment-text {
	letter-spacing: 1px;
	padding-left: 1.6rem;
	color: var(--font-color-comments);
}

@media (max-width: 700px) {
	.comments-content {
		font-size: .8rem;
	}
}

@media (max-width: 500px) {
	.comments-content {
		font-size: .7rem;
	}
}
