.comments-content {
	padding: .5rem;
	background: #C5E3E8;
	border-radius: .5rem;
	margin-bottom: 1rem;
}

.comment-title {
	font-weight: 700;
}

.comments-content a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	background: none;
}

.comments-content a:hover {
	color: rgb(0, 0, 238);
	text-decoration: underline;
}

.comments-content p {
	display: flex;
	align-items: center;
	background: none;
	margin-bottom: .5rem;
}

.comments-content svg {
	background: none;
}

.comment-text {
	letter-spacing: 1px;
	padding-left: 1.6rem;
}
