.new-post-container {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.new-post-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-post-content input {
	width: 35rem;
}

.new-post-field-input {
	margin-top: 3rem;
}

.new-post-content h2 {
	margin-top: 3rem;
}

.textarea-input {
	margin-top: 1rem;
	width: -webkit-fill-available;
	resize: vertical;
	color: var(--font-color);
	height: 6rem;
	border: 1px solid var(--border-comment-input);
	border-radius: .5rem;
	padding: .2rem;
	outline: none;
}

input[type="file"] {
	display: none;
}

.send-image-field div label {
	margin-top: 1rem;
	color: var(--btn-color);
	background: var(--background-btn);
	border: 1px solid var(--background-btn);
	border-radius: .5rem;
	padding: 1rem;
	width: fit-content;
	cursor: pointer;
}

.send-image-field div label:hover {
	transition: all .3s;
	color: var(--btn-hover-color);
	background: var(--background);
}

@media (max-width: 700px) {
	.new-post-content input {
		width: 28rem;
	}

	.textarea-input {
		width: 30rem;
	}

	.new-post-container h1 {
		font-size: 1.8rem;
	}

	.new-post-content h2 {
		font-size: 1.4rem;
	}
}

@media (max-width: 500px) {
	.new-post-content input {
		width: 20rem;
	}

	.textarea-input {
		width: 22rem;
	}

	.new-post-container h1 {
		font-size: 1.4rem;
	}

	.new-post-content h2 {
		font-size: 1rem;
	}
}

@media (max-width: 360px) {
	.new-post-content input {
		width: 15rem;
	}

	.textarea-input {
		width: 17rem;
	}

	.new-post-container h1 {
		font-size: 1.2rem;
	}

	.new-post-content h2 {
		font-size: .8rem;
	}
}
